<form action="{{ path('app_search') }}" method="get" class="md:flex items-center bg-slate-100 rounded-md p-1 hidden">
    <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
    <input type="text" name="q" id="" placeholder="Search notes..." class="bg-transparent outline-none">
    <button type="submit">{{ ux_icon('mdi:search', { 'class': 'h-6 w-6 text-neutral-600 hover:text-violet-600' }) }}</button>
</form>